*{
  margin: 0px;
  padding: 0px;
}

.s1_1 {
  position: absolute;
  width: 1024px;
  height: 768px;
  z-index: 1;
}

.s1_2 {
  position: absolute;
  left: 41px;
  top: 40px;
  width: 341px;
  height: 125px;
  animation: flipInX 0.5s;
  animation-delay: 0s;
  animation-fill-mode: both;
  z-index: 2;
}