* {
	margin: 0px;
	padding: 0px;
}

.s2_1 {
  position: absolute;
  width: 1024px;
  height: 768px;
  z-index: 1;
}

.logowrap {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1024px;
  height: 768px;
  animation: scaleIn 1s;
  animation-delay: 2.5s;
  animation-fill-mode: both;
  overflow: hidden;
  z-index: 3;
}

.s2_2 {
  position: absolute;
  left: 118px;
  top: 185px;
  width: 773px;
  height: 316px;
  animation: zoomIn 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s2_3 {
  position: absolute;
  left: 423px;
  top: 497px;
  width: 483px;
  height: 87px;
  animation: fadeInRight 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s2_4 {
  position: absolute;
  left: 115px;
  top: 329px;
  width: 794px;
  height: 109px;
  animation: fadeInRight 1s;
  animation-delay: 2.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s2_5 {
  position: absolute;
  left: 172px;
  top: 498px;
  width: 188px;
  height: 195px;
  animation: fadeInDown 1s;
  animation-delay: 3.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s2_6 {
  position: absolute;
  left: 406px;
  top: 498px;
  width: 188px;
  height: 195px;
  animation: fadeInDown 1s;
  animation-delay: 4.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s2_7 {
  position: absolute;
  left: 634px;
  top: 472px;
  width: 218px;
  height: 221px;
  animation: fadeInDown 1s;
  animation-delay: 5.5s;
  animation-fill-mode: both;
  z-index: 2;
}


@-webkit-keyframes scaleIn {
  0% {
    transform: scale(1);
	top: 0px;
  }

  100% {
    transform: scale(0.5);
	top: -245px;
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(1);
	top: 0px;
  }

  100% {
    transform: scale(0.5);
	top: -245px;
  }
}

.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}