* {
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.hit_1, .hit_2, .hit_3, .hit_4, .hit_5, .hit_6, .hit_7  {
  position: absolute;
  width: 1024px;
  height: 768px;
  display: none;
  z-index: 15;
}

.hit_pop1 {
	position: absolute;
  left: 79px;
  top: 390px;
  width: 214px;
  height: 272px;
	z-index: 10;
}

.hit_pop2 {
	position: absolute;
  left: 293px;
  top: 454px;
  width: 214px;
  height: 272px;
	z-index: 10;
}

.hit_pop3 {
	position: absolute;
  left: 507px;
  top: 390px;
  width: 214px;
  height: 272px;
	z-index: 10;
}

.hit_pop4 {
	position: absolute;
  left: 721px;
  top: 454px;
  width: 214px;
  height: 272px;
	z-index: 10;
}

.hit_pop5 {
	position: absolute;
  left: 659px;
  top: 435px;
  width: 140px;
  height: 186px;
	z-index: 10;
}

.hit_pop6 {
	position: absolute;
  left: 805px;
  top: 586px;
  width: 140px;
  height: 105px;
	z-index: 10;
}

.hit_pop7 {
	position: absolute;
  left: 805px;
  top: 479px;
  width: 140px;
  height: 105px;
	z-index: 10;
}

.hit_close1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}