* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
}

.s1_2 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 10;
}

.s1_3 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 10;
}
.s1_4 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 10;
}
.s1_5 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 10;
}

.s1_6 {
	position: absolute;
	left: 46px;
	top: 592px;
	width: 49px;
	height: 59px;
	animation: flash 4s infinite;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	display: none;
	z-index: 3;
}

.s1_7 {
	position: absolute;
	left: 707px;
	top: 592px;
	width: 49px;
	height: 59px;
	animation: flash 4s infinite;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	display: none;
	z-index: 3;
}

.s1_8 {
	position: absolute;
	left: 46px;
	top: 476px;
	width: 49px;
	height: 59px;
	animation: flash 4s infinite;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	display: none;
	z-index: 3;
}

.s1_9 {
	position: absolute;
	left: 707px;
	top: 476px;
	width: 49px;
	height: 59px;
	animation: flash 4s infinite;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	display: none;
	z-index: 3;
}

.s1_pop1 {
	position: absolute;
	left: 56px;
	top: 452px;
	width: 331px;
	height: 106px;
	z-index: 8;
}

.s1_pop2 {
	position: absolute;
	left: 394px;
	top: 452px;
	width: 331px;
	height: 106px;
	z-index: 8;
}

.s1_pop3 {
	position: absolute;
	left: 56px;
	top: 565px;
	width: 331px;
	height: 106px;
	z-index: 8;
}

.s1_pop4 {
	position: absolute;
	left: 394px;
	top: 565px;
	width: 331px;
	height: 106px;
	z-index: 8;
}

.s1_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 12;
}