* {
	margin: 0px;
	padding: 0px;
}

.s2_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2_2_wrap {
  position: absolute;
  left: 55px;
  top: 48px;
  width: 806px;
  height: 61px;
  animation: fadeInRight 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  z-index: 10;
}

.s2_2 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 806px;
  height: 61px;
  animation: growUp 1s;
  animation-delay: 3.5s;
  animation-fill-mode: both;
  z-index: 10;
}

.s2_3_wrap {
  position: absolute;
  left: 264px;
  top: 190px;
  width: 496px;
  height: 456px;
  animation: zoomIn 1s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
  z-index: 10;
}

.s2_3 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 574px;
  height: 548px;
  animation: growLeft 1s;
  animation-delay: 3.5s;
  animation-fill-mode: both;
  z-index: 10;
}

.s2_4 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1024px;
  height: 768px;
  animation: fadeIn 1s;
  animation-delay: 3.5s;
  animation-fill-mode: both;
  z-index: 5;
}



@-webkit-keyframes growLeft {
  0% {
	transform: scale(1);
	left: 0px;
	top: 0px;
  }
  
  100% {
	transform: scale(0.6);
	right: 446.2px;
	top: 201px;
  }
}

@keyframes growLeft {
  0% {
	transform: scale(1);
	left: 0px;
	top: 0px;
  }
  
  100% {
	transform: scale(0.5);
	left: 350px;
	top: -200px;
  }
}

.growLeft {
  -webkit-animation-name: growLeft;
  animation-name: growLeft;
}


@-webkit-keyframes growUp {
  0% {
	transform: scale(1);
	left: 0px;
	top: 0px;
  }
  
  100% {
	transform: scale(0.6);
	right: 446.2px;
	top: 201px;
  }
}

@keyframes growUp {
  0% {
	transform: scale(1);
	left: 0px;
	top: 0px;
  }
  
  100% {
	transform: scale(0.8);
	left: -50px;
	top: -30px;
  }
}

.growUp {
  -webkit-animation-name: growUp;
  animation-name: growUp;
}