* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.logo {
	position: absolute;
  left: 332px;
  top: 78px;
  width: 602px;
  height: 164px;
	z-index: 1;
}

.holder {
  position: absolute;
  left: 381px;
  top: 319px;
  width: 587px;
  height: 169px;
  animation: fadeInRight 0.3s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.wrap_capsule {
  position: absolute;
  left: -16px;
  top: 34px;
  animation: fadeIn 0.5s;
  animation-delay: 2s;
  animation-fill-mode: both;
  z-index: 10;
}

.capsule {
  position: absolute;
  left: 827px;
  top: 310px;
  width: 151px;
  height: 71px;
  animation: none 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  z-index: 10;
}

.wrap_pellet {
  position: absolute;
  left: -17px;
  top: -6px;
  z-index: 5;
}

.pellet1 {
  position: absolute;
  left: 894px;
  top: 325px;
  width: 9px;
  height: 8px;
  animation: fadeInDown1 1s infinite;
  animation-delay: 0.4s;
  animation-fill-mode: both;
  z-index: 2;
}

.pellet2 {
  position: absolute;
  left: 870px;
  top: 341px;
  width: 10px;
  height: 10px;
  animation: fadeInDown 1.2s infinite;
  animation-delay: 0.7s;
  animation-fill-mode: both;
  z-index: 2;
}

.pellet3 {
  position: absolute;
  left: 870px;
  top: 341px;
  width: 10px;
  height: 10px;
  animation: fadeInDown1 0.9s infinite;
  animation-delay: 0.6s;
  animation-fill-mode: both;
  z-index: 2;
}

.pellet4 {
  position: absolute;
  left: 902px;
  top: 332px;
  width: 9px;
  height: 10px;
  animation: fadeInDown 1s infinite;
  animation-delay: 0.4s;
  animation-fill-mode: both;
  z-index: 2;
}

.pellet5 {
  position: absolute;
  left: 907px;
  top: 343px;
  width: 10px;
  height: 9px;
  animation: fadeInDown1 1s infinite;
  animation-delay: 0.3s;
  animation-fill-mode: both;
  z-index: 2;
}


.pellet6 {
  position: absolute;
  left: 879px;
  top: 352px;
  width: 9px;
  height: 9px;
  animation: fadeInDown2 1s infinite;
  animation-delay: 0.4s;
  animation-fill-mode: both;
  z-index: 2;
}

.pellet7 {
  position: absolute;
  left: 894px;
  top: 345px;
  width: 9px;
  height: 8px;
  animation: fadeInDown1 1.2s infinite;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.pellet8 {
  position: absolute;
  left: 870px;
  top: 361px;
  width: 10px;
  height: 10px;
  animation: fadeInDown2 1s infinite;
  animation-delay: 0.3s;
  animation-fill-mode: both;
  z-index: 2;
}

.pellet9 {
  position: absolute;
  left: 902px;
  top: 352px;
  width: 9px;
  height: 10px;
  animation: fadeInDown1 0.8s infinite;
  animation-delay: 0.8s;
  animation-fill-mode: both;
  z-index: 2;
}

.pellet10 {
  position: absolute;
  left: 907px;
  top: 363px;
  width: 10px;
  height: 9px;
  animation: fadeInDown 1.5s infinite;
  animation-delay: 1s;
  animation-fill-mode: both;
  z-index: 2;
}

.pellet11 {
  position: absolute;
  left: 894px;
  top: 325px;
  width: 9px;
  height: 8px;
  animation: fadeInDown2 1s infinite;
  animation-delay: 0.4s;
  animation-fill-mode: both;
  z-index: 2;
}

.pellet12 {
  position: absolute;
  left: 870px;
  top: 341px;
  width: 10px;
  height: 10px;
  animation: fadeInDown2 1.2s infinite;
  animation-delay: 0.7s;
  animation-fill-mode: both;
  z-index: 2;
}

.pellet13 {
  position: absolute;
  left: 870px;
  top: 341px;
  width: 10px;
  height: 10px;
  animation: fadeInDown2 0.9s infinite;
  animation-delay: 0.6s;
  animation-fill-mode: both;
  z-index: 2;
}

.pellet14 {
  position: absolute;
  left: 902px;
  top: 332px;
  width: 9px;
  height: 10px;
  animation: fadeInDown2 1s infinite;
  animation-delay: 0.4s;
  animation-fill-mode: both;
  z-index: 2;
}

.pellet15 {
  position: absolute;
  left: 907px;
  top: 343px;
  width: 10px;
  height: 9px;
  animation: fadeInDown2 1s infinite;
  animation-delay: 0.3s;
  animation-fill-mode: both;
  z-index: 2;
}

.pellet16 {
  position: absolute;
  left: 909px;
  top: 382px;
  width: 9px;
  height: 9px;
  animation: fadeInDown 1s infinite;
  animation-delay: 1s;
  animation-fill-mode: both;
  z-index: 2;
}

.pellet17 {
  position: absolute;
  left: 879px;
  top: 332px;
  width: 9px;
  height: 9px;
  animation: fadeInDown 1s infinite;
  animation-delay: 1s;
  animation-fill-mode: both;
  z-index: 2;
}


@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
	 -webkit-transform: none;
    transform: none;
  }

  100% {
    opacity: 1;
	-webkit-transform: translate3d(0, 300%, 0);
    transform: translate3d(0, 300%, 0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
	 -webkit-transform: none;
    transform: none;
  }

  100% {
    opacity: 1;
	-webkit-transform: translate3d(100%, 300%, 0);
    transform: translate3d(100%, 300%, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}


@-webkit-keyframes fadeInDown1 {
  0% {
    opacity: 0;
	 -webkit-transform: none;
    transform: none;
  }

  100% {
    opacity: 1;
	-webkit-transform: translate3d(0, 500%, 0);
    transform: translate3d(0, 500%, 0);
  }
}

@keyframes fadeInDown1 {
  0% {
    opacity: 0;
	 -webkit-transform: none;
    transform: none;
  }

  100% {
    opacity: 1;
	-webkit-transform: translate3d(-100%, 500%, 0);
    transform: translate3d(-100%, 500%, 0);
  }
}

.fadeInDown1 {
  -webkit-animation-name: fadeInDown1;
  animation-name: fadeInDown1;
}

@-webkit-keyframes fadeInDown2 {
  0% {
    opacity: 0;
	-webkit-transform: none;
    transform: none;
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeInDown2 {
  0% {
    opacity: 0;
	-webkit-transform: none;
    transform: none;
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

.fadeInDown2 {
  -webkit-animation-name: fadeInDown2;
  animation-name: fadeInDown2;
}