*{
  margin: 0px;
  padding: 0px;
}

.background {
  position: absolute;
  width: 1024px;
  height: 768px;
  z-index: 1;
}

.logo {
  position: absolute;
  left: 94px;
  top: 31px;
  width: 488px;
  height: 283px;
  animation: zoomIn 0.3s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
  z-index: 2;
}

.stamp {
  position: absolute;
  left: 636px;
  top: 50px;
  width: 125px;
  height: 123px;
  animation: zoomIn 0.3s;
  animation-delay: 1s;
  animation-fill-mode: both;
  z-index: 7;
}



@-webkit-keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.stampIn {
  -webkit-animation-name: stampIn;
  animation-name: stampIn;
}