* {
	margin: 0px;
	padding: 0px;
}

.s1_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s1_2 {
  position: absolute;
  left: 258px;
  top: 72px;
  width: 690px;
  height: 120px;
	animation: flipInX 0.5s;
    animation-delay: 0s;
    animation-fill-mode: both;
	z-index: 10;
}

.s1_3 {
	position: absolute;
  left: 319px;
  top: 679px;
  width: 648px;
  height: 39px;
	animation: none 0.5s;
    animation-delay: 1s;
    animation-fill-mode: both;
	z-index: 8;
}

.s1_4 {
	position: absolute;
  left: 345px;
  top: 692px;
  width: 596px;
  height: 13px;
	animation: none 0.5s;
    animation-delay: 1s;
    animation-fill-mode: both;
	z-index: 8;
}

.s1_5 {
	position: absolute;
  left: 472px;
  top: 692px;
  width: 345px;
  height: 13px;
	animation: flashLong 3s infinite;
    animation-delay: 0.5s;
    animation-fill-mode: both;
	z-index: 10;
}

.s1_6 {
	position: absolute;
  left: 668px;
  top: 290px;
  width: 196px;
  height: 37px;
	animation: none 0.5s;
    animation-delay: 1s;
    animation-fill-mode: both;
	z-index: 10;
}

.s1_7 {
	position: absolute;
  left: 382px;
  top: 298px;
  width: 470px;
  height: 19px;
	animation: none 0.5s;
    animation-delay: 1s;
    animation-fill-mode: both;
	z-index: 12;
}

.s1_8 {
	position: absolute;
  left: 857px;
  top: 375px;
  width: 167px;
  height: 45px;
	animation: fadeInRight 0.5s;
    animation-delay: 2.5s;
    animation-fill-mode: both;
	z-index: 10;
}


.popup {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 7;
	display: none;
}

.pop_open {
	position: absolute;
	width: 120px;
	height: 100px;
	right: 0px;
	bottom: 0px;
	z-index: 5;
}

.pop_close {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 10;
	display: none;
}


@keyframes stampIn {
	0%	{
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0;
	}
	100%	{
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes rotateInLoop {
	0%  {
		-webkit-transform: rotate(0deg);
	}
	100%	{
		-webkit-transform: rotate(359deg);
	}
}

@keyframes flashLong {
  0%,  100% {
    opacity: 0;
  }

  30%, 60%, 90% {
    opacity: 1;
  }
}



@keyframes swoopSides {
  0% {  
  left: 510px;
  top: 668px;
  width: 41px;
  height: 32px;
  opacity: 1;
  }

  50% {
  left: 522px;
  top: 668px;
  width: 41px;
  height: 32px;
  opacity: 1;
  }
  
  100% {  
  left: 510px;
  top: 668px;
  width: 41px;
  height: 32px;
  opacity: 1;
  }
}



@keyframes pulseBig {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}